<?php

function localCredentials() {
    return array("127.0.0.1", "username", "password");
}

function localImageCredentials() {
    return null;
}

function localStorageCredentials() {
    return localCredentials();
}

function localRecaptchaKeys() {
    return array(
        "public" => "",
        "private" => "",
    );
}

function localAkismetKey() {
    return "";
}

function localIfArchiveKey() {
    return "";
}

?>
