<?php

function localCredentials() {
    return array("127.0.0.1", "username", "password");
}

function localImageCredentials() {
    return null;
}

function localRecaptchaKeys() {
    return array(
        "public" => "6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI",
        "private" => "6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe",
    );
}

function localAkismetKey() {
    return "";
}

function localIfArchiveKey() {
    return "";
}

?>
