@import url("/ifdb.css?v=1");

@media only screen and (max-device-width: 480px) {
  body {
  margin-bottom: 48px;
 }

div.topctl form input[type="text"] {
  width:195px;
}

}

img.dla-button {
    background-image: none;
    width: 0px;
}
table.searchSummary {
  display: none;
}
table.gameRightBar {
  display: none;
}
span.fmtnotes {
  display: none;
}
.new-review {
   font-size: 12pt;
}

.rightbar {
   display: none;
}

div.tipbox {
   display: none;
}

div.downloadfloat {
    float: none;
    width: 100%;
   margin-left: 2px
}

div.downloadfloat h3 {
 display:none;
}


