@import url("/ifdb.css?v=1");

span.fmtnotes {
  display: none;
}
.rightbar {
   display: none;
}

div.tipbox {
   display: none;
}

div.downloadfloat {
    float: none;
    width: 100%;
   margin-left: 2px
}

div.downloadfloat h3 {
 display:none;
}


