@import url("/ifdb.css?v=1");

img.dla-button {
    background-image: none;
    width: 0px;
}
table.gameRightBar {
  display: none;
}
span.fmtnotes {
  display: none;
}
.rightbar {
   display: none;
}

div.tipbox {
   display: none;
}

div.downloadfloat {
    float: none;
    width: 100%;
   margin-left: 2px
}

div.downloadfloat h3 {
 display:none;
}


