@import url("/ifdb.css");

@media only screen and (max-device-width: 480px) {
 body {
  margin-bottom: 48px;
 }

img.play-online-button {
   display: none;
    width: 0px;
}

div.topctl form input[type="text"] {
  width:195px;
}

div.topctl  table td   {
 text-align:center;
}

div.topctl  table td:first-child   {
  display:none;
}


div.topctl table {
  position: relative;
  left: -5px;
  width: 320px;
}

 div.xxxxtopbar {
    width: 320px;
    height: 55px;
   background: url("images/ifdb-topbar-nar.jpg") #c0c0c0 no-repeat;
 }
 body {
  clear: both;
 } 

}

img.play-online-button {
   display: none;
    width: 0px;
}

img.dla-button {
    background-image: none;
    width: 0px;
}
table.searchSummary {
  display: none;
}
table.gameRightBar {
  display: none;
}
span.fmtnotes {
  display: none;
}
.new-review {
   font-size: 12pt;
}

.rightbar {
   display: none;
}

div.tipbox {
   display: none;
}

div.footer {
  display: none;
}

div.downloadfloat {
    float: none;
    width: 100%;
   margin-left: 2px
}

div.downloadfloat h3 {
 display:none;
}

input#searchfor, #searchfor2{
  width: 95%;
}


